{% extends "base_generic.html" %}
{% load i18n %}

<!-- ----- Title block ----- -->
{% block title %}

    {% translate "Books Local Library" as the_title %}

    <title>{{ the_title }}</title>

{% endblock %}

<!-- ----- Content block ----- -->
{% block content %}

    {% translate "Book List" as book_list_title %}
    {% translate "There are no books in the library." as no_books %}

<h1>{{book_list_title}}</h1>
  {% if book_list %}
    <ul>
      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
        ({{book.author}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{{no_books}}</p>
  {% endif %}

{% endblock %}