{% extends "base_generic.html" %}
{% load i18n %}

<!-- ----- Title block ----- -->
{% block title %}

    {% translate "Index Local Library" as the_title %}

    <title>{{ the_title }}</title>

{% endblock %}

<!-- ----- Content block ----- -->
{% block content %}

    {% translate "Welcome to Local Library" as welcome %}
    {% translate "Local Library Home" as home %}
    {% translate "Dynamic content" as dynamic_content %}
    {% translate "The library has the following record counts:" as library_records %}
    {% translate "You have taken %s books" as taken_books %}

    {% translate "Books:" as books %}
    {% translate "Copies:" as copies %}
    {% translate "Copies available:" as copies_available %}
    {% translate "Authors:" as authors %}
    {% translate "Genres that contain the word 'Novel':" as genres_by_word %}
    {% translate "Books that contain the word 'a':" as books_by_word %}

  <h1>{{home}}</h1>
  <p>
      {{welcome}}  </p>
  <h2>{{dynamic_content}}</h2>
  <p>{{library_records}}</p>
  <ul>
    <li><strong>{{books}}</strong> {{ num_books }}</li>
    <li><strong>{{copies}}</strong> {{ num_instances }}</li>
    <li><strong>{{copies_available}}</strong> {{ num_instances_available }}</li>
    <li><strong>{{authors}}</strong> {{ num_authors }}</li>
    <li><strong>{{authors}}</strong> {{ num_authors }}</li>

    <li><strong>{{genres_by_word}}</strong> {{ genres_search }}</li>
    <li><strong>{{books_by_word}}</strong> {{ books_search }}</li>
  </ul>

{% endblock %}